{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Add Book
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">

  <form class="form-signin" method="POST" action="/add_book">
    <h2 class="form-signin-heading">Add Book</h2>

    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.isbn) }}
    {{ wtf.form_field(form.title) }} 
    {{ wtf.form_field(form.author) }}
    {{ wtf.form_field(form.genre) }}
    {{ wtf.form_field(form.branchLocation) }}    
   <button class="btn btn-lg btn-primary btn-block" type="submit">Add Book</button>
  </form>

</div> <!-- /container -->
{% endblock %}